DEPLOY_USER=user
DEPLOY_HOST=51.250.103.252
DEPLOY_PATH=/home/user/nodejs-pm2-deploy-backend
DEPLOY_REF=origin/master
DEPLOY_REPO=git@github.com:vladich21/nodejs-pm2-deploy.git
DEPLOY_SSH_KEY=/Users/vladich21/.ssh/deploy_key
NODE_ENV=production
